*, *:before, *:after { box-sizing: inherit; }

* {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  color: #333;
}

*:read-write:focus {
     outline: none;
}

html {
  height: 100%;
  width: 100%;

  box-sizing: border-box;

  overflow: hidden;
}

html {
  --ui-fade-in: .25s;
  --ui-fade-out: 1s;
}

body {
  min-height: 100%;

  margin: 0;
  padding: 0;

  background-color: gray;
}

label {
  margin-right: .25em;
}

p {
  margin-top: 0;
}

input {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  color: #333;
}

button {
  background-color: #fff;
  border-radius: .25em;
  color: #333;
}

.hidden {
  display: none;
}

.templates {
  display: none;
}

.page_dialog {
  font-size: 120%;

  margin-top: .5em;
  min-width: 40em;

  text-align: left;

  display: inline-block;
  width: auto;
  height: auto;
  border: 1px solid #333;

  padding: 1em;

  box-shadow: 10px 10px 5px #888888;
}

.page_dialog input, .page_dialog button {
  font-size: 120%;
}

h1, h2, h3 {
  width: 100%;
  text-align: center;
}

.placeholder {
  opacity: .75;
}

.chapter {
  counter-increment: chapter;
}

.chapter:before {
  content: counter(chapter);
  font-size: 20pt;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}

p {
  font-size: 14pt;
  font-weight: 600;
}

.story_nav {
  width: 100%;
  opacity: 0;
  transition: opacity var(--ui-fade-out) ease-in-out;

  text-align: left;
}

.story_nav:hover, .story_nav.hovered {
  opacity: 1;
  transition: opacity var(--ui-fade-in) ease-in-out;
}

nui-main {
  position: relative;

  display: flex;
  flex-direction: column;
}

#tab_trigger {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

nui-work {
  flex: 0 1 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

nui-tabs {
  flex: 0 0 2em;

  max-height: 10em;
  transition: max-height var(--ui-fade-in) ease-in-out;
}

nui-tabs:hover, nui-tabs:hover.collapsed {
  max-height: 10em;
}

nui-tabs.collapsed {
  max-height: 0;
  transition: max-height var(--ui-fade-out) ease-in-out;
}
