*, *:before, *:after { box-sizing: inherit; }

* {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  color: #333;
}

*:read-write:focus {
     outline: none;
}

p {
  margin-top: 0;
}

input {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  color: #333;
}

button {
  background-color: #fff;
  border-radius: .25em;
  color: #333;
}

html {
  height: 100%;
  width: 100%;

  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
}

body {
  min-height: 100%;

  margin: 0;
  padding: 0;

  background-color: gray;
}

label {
  margin-right: .25em;
}

.icon {
  font-size: 50pt;
  color: #2f2;
}

.hidden {
  display: none;
}

#templates {
  display: none;
}

#stage {
  width: 100%;
  height: 100%;
}

.stage>* {
  visibility: hidden;
}

.stage>div.active {
  visibility: visible;
}

.pane {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #fff;

  text-align: center;
}

.page_dialog {
  font-size: 120%;

  margin-top: .5em;
  min-width: 40em;

  text-align: left;

  display: inline-block;
  width: auto;
  height: auto;
  border: 1px solid #333;

  padding: 1em;

  box-shadow: 10px 10px 5px #888888;
}

.page_dialog input, .page_dialog button {
  font-size: 120%;
}

#bookcase {
  height: 100%;
  overflow-y: scroll;
}

div.shelf {
  width: 100%;
  background-color: #eee;
  text-align: left;
  padding: 1em;
  margin-top: 1em;
}

.shelf h2 {
  font-family: monospace;
  text-align: left;
}

div.books {
  display: flex;
}

div.books div {
  height: 12em;
  width: 10em;
  background-color: #fff;
  margin: 1em;
}

.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.books>div {
  cursor: pointer;
}

.story {
  background-color: #000;

  display: flex;
  flex-flow: row nowrap;
}

.main {
  flex: 1 0 50em;

  min-width: 50em;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
}

.work {
  flex: 1 0;
}

.view_tabs {
  flex: 0 0 2em;
}

.story_page {
  flex: 1 0 50em;

  background-color: #fff;

  min-width: 50em;
  height: 100%;

  text-align: left;

  display: inline-block;

  padding: 1em;
}

.gutter {
  min-width: 15em;
  flex: 0 1 15em;
}

.gutter.left {
}

.gutter.right {
}

.view_tabs {
  margin: 0;
  padding: 0;

  display: flex;
  flex-basis: row nowrap;
  justify-content: space-between;
}

.view_tabs>* {
  font-family: monospace;
  font-size: 12pt;
  font-weight: bolder;

  background-color: #fff;

  margin-right: .25em;
  padding: .5em;
  opacity: .7;
  border-radius: 0 0 .75em .75em;

  flex: 0 1;
}

.view_tabs>div:last-child {
  margin-right: 0;
}

.view_tabs>.filler {
  flex: 1 1;
  opacity: 0;
}

.view_tabs div.active {
  opacity: 1;
}

h1, h2, h3 {
  width: 100%;
  text-align: center;
}

h1.title {
  margin-top: 35%;
}

.placeholder {
  opacity: .75;
}

.chapter {
  counter-increment: chapter;
}

.chapter:before {
  content: counter(chapter);
  font-size: 20pt;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}

p {
  font-size: 14pt;
  font-weight: 600;
}
